<!doctype html>
<html>

<head>
	<title>PowerCTL</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/style.css" rel="stylesheet">
	<script defer src="/static/libs/bootstrap.bundle.min.js"></script>
	<script type="module" src="/static/multi_switch.js"></script>
</head>

<body>
	<div id="app" class="container-md">
		<div v-if="error_message.length != 0" class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
			{{error_message}}
			<button @click="error_message=''" type="button" class="btn-close" aria-label="Close"
				:disabled="!connected"></button>
		</div>
		<h1>{{title}}</h1>
		<div class="g-2 row">
			<div class="col-12 col-md">
				<p>{{description}}</p>
			</div>
			<div class="col-12 col-md">
				<p>{{driver_info}}</p>
			</div>
		</div>
		<table class="table table-striped align-middle">
			<thead>
				<tr>
					<th>#</th>
					<th>Status</th>
					<th>Comment</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(item, index) in socket_info">
					<th>{{item.index}}</th>
					<td><input @change="set_socket($event, index)" v-model="item.status" class="form-check-input"
							type="checkbox" value="" :disabled="!connected"></td>
					<td><input @input="set_comment($event, index)" v-model="item.comment" class="form-control"
							type="text" placeholder="Comment" maxlength="40" :readonly="!connected"></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>

</html>

<!--
 Local Variables:
 tab-width: 4
 indent-tabs-mode: t
 End:
 End: -->
