<!doctype html>
<html>

<head>
	<title>PowerCTL</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/static/style.css" rel="stylesheet">
	<script defer src="/static/libs/bootstrap.bundle.min.js"></script>
	<script type="module" src="/static/single_voltage.js"></script>
</head>

<body>
	<div id="app" class="container-md">
		<div v-if="error_message.length != 0" class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
			{{error_message}}
			<button @click="error_message=''" type="button" class="btn-close" aria-label="Close"
				:disabled="!connected"></button>
		</div>
		<h1>{{title}}</h1>
		<div class="g-2 row">
			<div class="col-12 col-md">
				<p>{{description}}</p>
			</div>
			<div class="col-12 col-md">
				<p>{{driver_info}}</p>
			</div>
		</div>
		<div class="g-2 mb-2 row">
			<div class="col-12 col-md">
				<div class="input-group">
					<span class="input-group-text">Voltage</span>
					<input @input="update_voltage($event)" v-model="voltage" class="form-control" type="number"
						:readonly="!connected" min="0" />
				</div>
			</div>
			<div class="col-12 col-md">
				<div class="input-group">
					<span class="input-group-text">Max</span>
					<input v-model="voltage_max" class="form-control" type="number" readonly />
				</div>
			</div>
			<button type="button" class="col-12 col-md btn btn-outline-success" :class="{active: socket_enabled}"
				:disabled="!connected" @click="set_socket($event)" data-bs-toggle="button">Enable</button>
		</div>
		<input @input="set_comment($event)" v-model="comment" class="form-control mb-2" type="text"
			placeholder="Comment" maxlength="40" :readonly="!connected">
		<h4 v-if="voltage_measure || current_measure">Measurements</h4>
		<div class="g-2 mb-2 row" v-if="voltage_measure || current_measure">
			<div class="col-12 col-md" v-if="voltage_measure">
				<div class="input-group">
					<span class="input-group-text">Voltage</span>
					<input v-model="voltage_actual" class="form-control" type="number" readonly />
				</div>
			</div>
			<div class="col-12 col-md" v-if="current_measure">
				<div class="input-group">
					<span class="input-group-text">Current</span>
					<input v-model="current_actual" class="form-control" type="number" readonly />
				</div>
			</div>
			<button type="button" :disabled="!connected" @click="update_actual"
				class="col-12 col-md btn btn-outline-info">Update</button>
		</div>
	</div>

</body>

</html>

<!--
 Local Variables:
 tab-width: 4
 indent-tabs-mode: t
 End:
 End: -->
